.article {
	padding: 100px 0 40px;
}
.article__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}
.article__columns {
	flex: 1 0 33.333%;
	padding: 0 20px;
}
.item__image {
	padding: 0 0 30px 0;
}
.item__title {
	padding: 0 0 12px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #0f2336;
}
.item__text {
	padding: 0 0 20px 0;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #576d81;
}
@media screen and (max-width: 820px) {
	.article {
		background: #f7f7f7 center / cover;
	}
}

.one {
	padding: 100px 0 120px;
}
.one__row {
	display: flex;
	background: #f4f5f6;
	border-radius: 50px;
	height: 540px;
	align-items: center;
}
.one__image {
	margin: 0 0 0 30px;
}
.one__content {
	max-width: 420px;
}
.content__subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #576d81;
}
.content__title {
	p {
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: 55px;
		color: #0f2336;
	}
}
.content__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #576d81;
}

@media screen and (max-width: 1100px) {
	.one__content {
		padding: 0 20px 0 0;
	}
}
@media screen and (max-width: 820px) {
	.one__row {
		display: block;
		background: none;
		text-align: -webkit-center;
	}
	.one__image {
		display: none;
	}
	.one {
		background: url(/assets/imgs/чипсы.png) 50% 50% / cover no-repeat;
	}
	.content__subtitle {
		font-size: 24px;
		color: #5862f0;
		padding: 0 0 29px 0;
	}
	.content__title p {
		font-size: 56px;
		line-height: 34px;
		padding: 20px 0 0 0;
	}
	.content__text {
		font-size: 24px;
		line-height: 30px;
		color: #000000;
		padding: 20px 0 0 0;
	}
}

@media screen and (max-width: 680px) {
	.one__image {
		display: none;
	}
	.one__row {
		display: block;
		background: none;
		padding: 0px 0 0 70px;
	}
	.one {
		background: url(/assets/imgs/стаканBG1.png) 50% 27% / cover no-repeat;
	}
	.content__subtitle {
		font-size: 24px;
		color: #b09640;
		padding: 0 0 29px 0;
	}
	.content__title p {
		font-size: 56px;
		line-height: 34px;
		padding: 20px 0 0 0;
	}
	.content__text {
		font-size: 24px;
		line-height: 30px;
		color: #000000;
		padding: 20px 0 0 0;
	}
}
@media screen and (max-width: 320px) {
	.one {
		background: url(/assets/imgs/стаканBG1.png) 25% 50% / cover no-repeat;
	}
	.one {
		padding: 100px 0 190px;
	}
	.content__subtitle {
		line-height: 25px;
	}
}

.two {
	margin: 100px 0 0 0;
	background: #f4f5f6 50% 50% / cover;
}
.two__row {
	display: flex;
}
.two__content {
	max-width: 505px;
	position: relative;
	z-index: 2;
}
.two__column {
	max-width: 455px;
	background: #ffffff;
	box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
	border-radius: 8px;
}
.two__column:first-child {
	transform: translateY(-40px);
}
.two__column:nth-child(2) {
	transform: translateX(40px);
}
.two__column:last-child {
	transform: translateY(30px);
}
.two__items {
	display: flex;
	padding: 25px 25px;
}
.two__icon {
	margin: 0 23px 0 0;
}
.two__item {
	align-items: center;
}
.two__title {
	padding: 13px 0 25px;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.2px;
	color: #0f2336;
}
.two__text {
	padding: 0 0 18px 0;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #576d81;
}
.two__image {
	position: absolute;
	right: 0%;
	top: -17%;
}

@media screen and (max-width: 545px) {
	.two {
		margin: 200px 0 0 0;
	}
	.two__column:nth-child(2) {
		transform: translateX(0px);
	}
}
@media screen and (max-width: 390px) {
	.two__items {
		display: block;
	}
	.two__image {
		position: absolute;
		right: 0%;
		top: 0%;
	}
}

.three {
	padding: 180px 0 150px;
}
.three__row {
	display: flex;
	justify-content: end;
	background: #f4f5f6;
	border-radius: 50px;
	height: 540px;
	align-items: center;
}
.three__image {
	img.one {
		margin: 0 124px 0 135px;
		position: relative;
		z-index: 2;
	}
	img.two {
		position: absolute;
		top: 60%;
		right: 34%;
	}
	img.three {
		position: absolute;
		top: -14%;
		right: 2%;
	}
}
.three__content {
	max-width: 420px;
}
.bold1 {
	padding: 0 0 22px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: #576d81;
}
.other {
	p {
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: 55px;
		color: #0f2336;
	}
}
.bold2 {
	padding: 21px 0 0 0;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #576d81;
}

.four {
	text-align: center;
	padding: 0 0 110px 0;
}
.four__image {
	padding: 0 0 23px 0;
}
.four__title {
	padding: 0 0 35px 0;
	p {
		font-style: normal;
		font-weight: 900;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color: #0f2336;
	}
}
.four__number {
	span {
		margin: 0px 20px 0 -10px;
		padding: 17px 111px 17px 108px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: rgba(0, 0, 0, 0.35);
		background: #f0f0f2;
		border: 1px solid #f0f0f2;
		box-sizing: border-box;
		border-radius: 6px;
	}
}

a.num {
	padding: 17px 36px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #0f2336;
	background: #00cccc;
	border: 1px solid #00cccc;
	box-sizing: border-box;
	border-radius: 14px;
}

.four__icon {
	margin: 37px -36px 0 -199px;
	img {
		margin: 0 20px 0 0;
	}
}
