footer.footer
	img.left(src="./assets/imgs/list.png", alt="")
	img(src="", alt="")
	.wrapper
		.wrapper__row
			.footer__logo
				img(src="./assets/imgs/logo_footer.svg", alt="")
			.footer__item
				.footer__row
					.footer_column
						.footer__title Company
						.footer__text
							p Merchant Portal
					.footer_column
						.footer__title Support
						.footer__text
							p FAQ
							p Terms of Service
							p Privacy Policy
					.footer_column
						.footer__title Follow Us
						.footer__text
							p Twitter
							p Instagram
							p Facebook
	img.right(src="./assets/imgs/list2.png", alt="")