header.header 
	.wrapper
		.header__top.row
			.header__logo
				img(src="./assets/imgs/logo_header.svg", alt="")
			.header__row
				.header__menu
					.header__nav
						ul
							li
								a(href="#") Stores
							li
								a(href="#") Help & Support
				.header__btn
					a(href="#") Download
		.header__general
			.header__content
				.header__title 
					a.order(href="#") Order ahead
					p  and earn rewards for
					p every purchase<span style="color: #F3AF47">.</span> 
				| .
				.general-btn
					a(href="#") Discover how
					img(src="./assets/imgs/array.svg", alt="")
			.header__img
				img(src="./assets/imgs/men_girl.png", alt="")