main.main
	article.article
		.wrapper
			.article__row
				.article__columns
					.columns__column
						.column__item
							.item__image
								img(src="./assets/imgs/icon1_1.png", alt="")
							.item__title Order ahead, skip the line
							.item__text Feel like a rock star when you bypass the line and save a bunch of time.
				.article__columns
					.columns__column
						.column__item
							.item__image
								img(src="./assets/imgs/icon1_2.png", alt="")
							.item__title Bonus and discounts
							.item__text You can enjoy lots of discounts from the selected stores, or accumulate points.
				.article__columns
					.columns__column
						.column__item
							.item__image
								img(src="./assets/imgs/icon1_3.png", alt="")
							.item__title Share with your friends
							.item__text Send gifts to your friends and family, and pick up for your coworkers when they can't get away .
	section.one
		.wrapper
			.one__row
				.one__image
					img(src="./assets/imgs/mobile_1.png", alt="")
				.one__content
					.content__subtitle Your daily pick-me-up
					.content__title
						p How does
						p it work.
					.content__text Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.
	section.two
		.wrapper
			.two__row
				.two__content
					.two__column
						.two__items
							.two__icon
								img(src="./assets/imgs/icon2_1.png", alt="")
							.two__item
								.two__title Loyalty Points
								.two__text Collect points on each store and redeem them to change for Teas.
					.two__column
						.two__items
							.two__icon
								img(src="./assets/imgs/icon2_2.png", alt="")
							.two__item
								.two__title Exclusive Store Discounts
								.two__text You can enjoy lots of discounts from the selected stores near you.
					.two__column
						.two__items
							.two__icon
								img(src="./assets/imgs/icon2_3.png", alt="")
							.two__item
								.two__title T.Pass Free Drinks
								.two__text 2 Teas for $5.99 each month. and you can carry them over to the next month.
				.two__image
					img(src="./assets/imgs/girl.png", alt="")
	section.three
		.wrapper
			.three__row
				.three__content
					.content__subtitle.bold1 Please your friends
					.content__title.other
						p Send gifts and
						p order for groups
					.content__text.bold2 Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
				.three__image
					img.one(src="./assets/imgs/111111111.png", alt="")
					img.two(src="./assets/imgs/ягоды.png", alt="")
					img.three(src="./assets/imgs/стакан_2.png", alt="")
	section.four
		.wrapper
			.four__image
				img(src="./assets/imgs/house.png", alt="")
			.four__title 
				p Enjoy your afternoon
				p tea with a snack
			.four__number
				span Enter mobile number
				a.num(href="#") Send Link
			.four__icon
				span
					img(src="./assets/imgs/app_store.png", alt="")
					img(src="./assets/imgs/google_play.png", alt="")